.team-container {
  background-color: white;
  padding: 3rem 0rem;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  .team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .team-member {
      display: flex;
      flex-direction: column;
      margin: 1rem 2rem;
      align-items: center;
    }
    .member-image {
      height: 20rem;
      width: 20rem;
      border-radius: 1rem;
      object-fit: cover;
    }
    .name {
      margin-top: 0.5rem;
      font-size: 1.4rem;
      font-weight: 600;
    }
    .designation {
      font-size: 1.2rem;
      font-weight: 400;
      font-style: italic;
    }
  }
}
