<div class="gallery-container" id="gallery-container">
  <div class="heading">About Us</div>
  <div class="main-text">
    Welcome to Aerotantrix, the soaring heartbeat of NIE's aeromodelling
    excellence. As the proud aeromodelling club of NIE, we are a dynamic bunch
    of aerospace enthusiasts drawn from diverse branches of our college. Our
    passion knows no bounds as we delve into the realms of RC Aircraft, drones,
    rocketry, and satellites, exploring the limitless possibilities of the
    aerospace domain. Join us as we elevate our passion to new heights and
    redefine the skies together!
    <div class="subtext">Here is some of our work:</div>
  </div>

  <app-carousel [slides]="images"></app-carousel>
</div>
