.alumni-container {
  padding: 3rem 0rem;
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9ecef;
  .heading {
    color: #212529;
    font-size: 3.5rem;
    font-weight: 900;
    padding-bottom: 2rem;
  }
  .main-text {
    color: #212529;
    width: 80%;
    padding-bottom: 2rem;
    font-size: 1.2rem;
    font-weight: 500;
    text-align: justify;
    line-height: 1.5rem;
  }
  .alumni {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .alumnus {
      display: flex;
      flex-direction: column;
      margin: 1rem 2rem;
      align-items: center;
    }
    .image {
      height: 20rem;
      width: 20rem;
      border-radius: 1rem;
      object-fit: cover;
    }
    .name {
      margin-top: 0.5rem;
      font-size: 1.4rem;
      font-weight: 600;
    }
    .currently-at {
      font-size: 1.2rem;
      font-weight: 400;
      font-style: italic;
    }
  }
}
