.home-outer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.background-image {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
}

@media (max-width: 700px) {
  .background-image {
    height: 100vh;
    width: 100vw;
    content: url("/assets/images/base_background_crop.png");
  }
  .text-container {
    p {
      font-family: "Abril Fatface", sans-serif;
      font-size: 2rem;
      font-weight: 900;
      color: white;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 700px) {
  .background-image {
    height: 100vh;
    width: 100vw;
  }
  .text-container {
    p {
      font-family: "Abril Fatface", sans-serif;
      font-size: 4rem;
      font-weight: 900;
      color: white;
      text-transform: uppercase;
    }
  }
}

@media (min-width: 1150px) {
  .background-image {
    height: 100vh;
    width: 100vw;
  }
  .text-container {
    p {
      font-family: "Abril Fatface", sans-serif;
      font-size: 8rem;
      font-weight: 900;
      color: white;
      text-transform: uppercase;
    }
  }
}

.overlay {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  position: absolute;
  background-image: linear-gradient(black, 25%, transparent);
  display: flex;
  align-items: center;
  justify-content: center;
}
