<div class="carousel-container">
  <div class="carousel">
    <div class="slide" [ngStyle]="{ 'background-image': getCurrentSlideUrl() }">
      <div>
        <div class="left-arrow" (click)="goToPrevious()">◀</div>
        <div class="right-arrow" (click)="goToNext()">▶</div>
      </div>
      <div class="subtext">{{ getCurrentSlideText() }}</div>
    </div>
  </div>
  <div class="dots-container">
    <div
      *ngFor="let slide of slides; let slideIndex = index"
      class="dot"
      (click)="goToSlide(slideIndex)"
      [ngStyle]="{ 'background-image': getParsedUrl(slide.url) }"
    ></div>
  </div>
</div>
