<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar-buttons">
    <a href="/"
      ><img
        class="tag-image navbar-button-alternate"
        src="assets/images/aerotantrix_white_tag.png"
    /></a>
    <a class="navbar-button navbar-button-alternate" [routerLink]="['/']"
      >Gallery</a
    >
    <a
      class="navbar-button navbar-button-alternate"
      [routerLink]="['/sponsors']"
      >Sponsors</a
    >
    <a class="navbar-button navbar-button-alternate" [routerLink]="['/team']"
      >Team</a
    >

    <a class="navbar-button navbar-button-alternate" [routerLink]="['/alumni']"
      >Alumni</a
    >
    <a class="navbar-button navbar-button-alternate" [routerLink]="['/contact']"
      >Contact</a
    >
  </mat-toolbar-row>
</mat-toolbar>
