@media (min-width: 800px) {
  .mat-toolbar-row {
    padding: 0 20vw;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

.tag-image {
  height: 2rem;
  width: auto;
}

.mat-toolbar {
  background: transparent;
  margin: 2rem 0rem;
}

.navbar-button {
  color: white;
  font-weight: 600;
  letter-spacing: 1px;
  display: inline-block;
  transition: color 0.2s ease-in-out;
  &:hover {
    color: gray;
  }
}
