<mat-toolbar
  color="primary"
  [ngClass]="isAtTop ? 'transparent fade-in-top' : 'dark fade-in-top'"
>
  <mat-toolbar-row class="toolbar-buttons">
    <a
      ><img
        class="tag-image navbar-button-alternate"
        src="assets/images/aerotantrix_white_tag.png"
        (click)="scrollTo('home')"
    /></a>
    <a
      class="navbar-button navbar-button-alternate"
      (click)="scrollTo('gallery')"
      >Gallery</a
    >
    <a
      class="navbar-button navbar-button-alternate"
      (click)="scrollTo('sponsors')"
      >Sponsors</a
    >
    <a class="navbar-button navbar-button-alternate" (click)="scrollTo('team')"
      >Team</a
    >

    <a
      class="navbar-button navbar-button-alternate"
      (click)="scrollTo('alumni')"
      >Alumni</a
    >
    <a
      class="navbar-button navbar-button-alternate"
      (click)="scrollTo('contact')"
      >Contact</a
    >
  </mat-toolbar-row>
</mat-toolbar>
